.vs/TodoList/project-colors.json
.vs/TodoList/DesignTimeBuild/.dtbcache.v2
.vs/TodoList/v17/.futdcache.v1
.vs/TodoList/v17/.suo
src/TodoList.Api/bin/Debug/net6.0/appsettings.Development.json
src/TodoList.Api/bin/Debug/net6.0/appsettings.json
src/TodoList.Api/bin/Debug/net6.0/AutoMapper.dll
src/TodoList.Api/bin/Debug/net6.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
src/TodoList.Api/bin/Debug/net6.0/Humanizer.dll
src/TodoList.Api/bin/Debug/net6.0/MediatR.Contracts.dll
src/TodoList.Api/bin/Debug/net6.0/MediatR.dll
src/TodoList.Api/bin/Debug/net6.0/MediatR.Extensions.Microsoft.DependencyInjection.dll
src/TodoList.Api/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
src/TodoList.Api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
src/TodoList.Api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
src/TodoList.Api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
src/TodoList.Api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
src/TodoList.Api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
src/TodoList.Api/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
src/TodoList.Api/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
src/TodoList.Api/bin/Debug/net6.0/Microsoft.Identity.Client.dll
src/TodoList.Api/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
src/TodoList.Api/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
src/TodoList.Api/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
src/TodoList.Api/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
src/TodoList.Api/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
src/TodoList.Api/bin/Debug/net6.0/Microsoft.OpenApi.dll
src/TodoList.Api/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
src/TodoList.Api/bin/Debug/net6.0/Serilog.AspNetCore.dll
src/TodoList.Api/bin/Debug/net6.0/Serilog.dll
src/TodoList.Api/bin/Debug/net6.0/Serilog.Extensions.Hosting.dll
src/TodoList.Api/bin/Debug/net6.0/Serilog.Extensions.Logging.dll
src/TodoList.Api/bin/Debug/net6.0/Serilog.Formatting.Compact.dll
src/TodoList.Api/bin/Debug/net6.0/Serilog.Settings.Configuration.dll
src/TodoList.Api/bin/Debug/net6.0/Serilog.Sinks.Console.dll
src/TodoList.Api/bin/Debug/net6.0/Serilog.Sinks.Debug.dll
src/TodoList.Api/bin/Debug/net6.0/Serilog.Sinks.File.dll
src/TodoList.Api/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
src/TodoList.Api/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
src/TodoList.Api/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
src/TodoList.Api/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
src/TodoList.Api/bin/Debug/net6.0/System.Drawing.Common.dll
src/TodoList.Api/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
src/TodoList.Api/bin/Debug/net6.0/System.Runtime.Caching.dll
src/TodoList.Api/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
src/TodoList.Api/bin/Debug/net6.0/System.Security.Permissions.dll
src/TodoList.Api/bin/Debug/net6.0/System.Windows.Extensions.dll
src/TodoList.Api/bin/Debug/net6.0/TodoList.Api.deps.json
src/TodoList.Api/bin/Debug/net6.0/TodoList.Api.dll
src/TodoList.Api/bin/Debug/net6.0/TodoList.Api.exe
src/TodoList.Api/bin/Debug/net6.0/TodoList.Api.pdb
src/TodoList.Api/bin/Debug/net6.0/TodoList.Api.runtimeconfig.json
src/TodoList.Api/bin/Debug/net6.0/TodoList.Application.dll
src/TodoList.Api/bin/Debug/net6.0/TodoList.Application.pdb
src/TodoList.Api/bin/Debug/net6.0/TodoList.Domain.dll
src/TodoList.Api/bin/Debug/net6.0/TodoList.Domain.pdb
src/TodoList.Api/bin/Debug/net6.0/TodoList.Infrastructure.dll
src/TodoList.Api/bin/Debug/net6.0/TodoList.Infrastructure.pdb
src/TodoList.Api/bin/Debug/net6.0/ref/TodoList.Api.dll
src/TodoList.Api/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
src/TodoList.Api/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
src/TodoList.Api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
src/TodoList.Api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
src/TodoList.Api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
src/TodoList.Api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
src/TodoList.Api/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
src/TodoList.Api/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
src/TodoList.Api/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
src/TodoList.Api/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
src/TodoList.Api/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
src/TodoList.Api/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
src/TodoList.Api/logs/log-20220823.txt
src/TodoList.Api/logs/log-20221005.txt
src/TodoList.Api/logs/log-20221227.txt
src/TodoList.Api/logs/log-20221229.txt
src/TodoList.Api/logs/log-20230105.txt
src/TodoList.Api/logs/log-20230106.txt
src/TodoList.Api/obj/project.assets.json
src/TodoList.Api/obj/project.nuget.cache
src/TodoList.Api/obj/staticwebassets.pack.sentinel
src/TodoList.Api/obj/TodoList.Api.csproj.EntityFrameworkCore.targets
src/TodoList.Api/obj/TodoList.Api.csproj.nuget.dgspec.json
src/TodoList.Api/obj/TodoList.Api.csproj.nuget.g.props
src/TodoList.Api/obj/TodoList.Api.csproj.nuget.g.targets
src/TodoList.Api/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
src/TodoList.Api/obj/Debug/net6.0/apphost.exe
src/TodoList.Api/obj/Debug/net6.0/project.razor.json
src/TodoList.Api/obj/Debug/net6.0/staticwebassets.build.json
src/TodoList.Api/obj/Debug/net6.0/TodoList.Api.AssemblyInfo.cs
src/TodoList.Api/obj/Debug/net6.0/TodoList.Api.AssemblyInfoInputs.cache
src/TodoList.Api/obj/Debug/net6.0/TodoList.Api.assets.cache
src/TodoList.Api/obj/Debug/net6.0/TodoList.Api.csproj.AssemblyReference.cache
src/TodoList.Api/obj/Debug/net6.0/TodoList.Api.csproj.CopyComplete
src/TodoList.Api/obj/Debug/net6.0/TodoList.Api.csproj.CoreCompileInputs.cache
src/TodoList.Api/obj/Debug/net6.0/TodoList.Api.csproj.FileListAbsolute.txt
src/TodoList.Api/obj/Debug/net6.0/TodoList.Api.dll
src/TodoList.Api/obj/Debug/net6.0/TodoList.Api.GeneratedMSBuildEditorConfig.editorconfig
src/TodoList.Api/obj/Debug/net6.0/TodoList.Api.genruntimeconfig.cache
src/TodoList.Api/obj/Debug/net6.0/TodoList.Api.GlobalUsings.g.cs
src/TodoList.Api/obj/Debug/net6.0/TodoList.Api.MvcApplicationPartsAssemblyInfo.cache
src/TodoList.Api/obj/Debug/net6.0/TodoList.Api.MvcApplicationPartsAssemblyInfo.cs
src/TodoList.Api/obj/Debug/net6.0/TodoList.Api.pdb
src/TodoList.Api/obj/Debug/net6.0/ref/TodoList.Api.dll
src/TodoList.Application/bin/Debug/net6.0/TodoList.Application.deps.json
src/TodoList.Application/bin/Debug/net6.0/TodoList.Application.dll
src/TodoList.Application/bin/Debug/net6.0/TodoList.Application.pdb
src/TodoList.Application/bin/Debug/net6.0/TodoList.Domain.dll
src/TodoList.Application/bin/Debug/net6.0/TodoList.Domain.pdb
src/TodoList.Application/bin/Debug/net6.0/ref/TodoList.Application.dll
src/TodoList.Application/obj/project.assets.json
src/TodoList.Application/obj/project.nuget.cache
src/TodoList.Application/obj/TodoList.Application.csproj.nuget.dgspec.json
src/TodoList.Application/obj/TodoList.Application.csproj.nuget.g.props
src/TodoList.Application/obj/TodoList.Application.csproj.nuget.g.targets
src/TodoList.Application/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
src/TodoList.Application/obj/Debug/net6.0/TodoList.Application.AssemblyInfo.cs
src/TodoList.Application/obj/Debug/net6.0/TodoList.Application.AssemblyInfoInputs.cache
src/TodoList.Application/obj/Debug/net6.0/TodoList.Application.assets.cache
src/TodoList.Application/obj/Debug/net6.0/TodoList.Application.csproj.AssemblyReference.cache
src/TodoList.Application/obj/Debug/net6.0/TodoList.Application.csproj.CopyComplete
src/TodoList.Application/obj/Debug/net6.0/TodoList.Application.csproj.CoreCompileInputs.cache
src/TodoList.Application/obj/Debug/net6.0/TodoList.Application.csproj.FileListAbsolute.txt
src/TodoList.Application/obj/Debug/net6.0/TodoList.Application.dll
src/TodoList.Application/obj/Debug/net6.0/TodoList.Application.GeneratedMSBuildEditorConfig.editorconfig
src/TodoList.Application/obj/Debug/net6.0/TodoList.Application.GlobalUsings.g.cs
src/TodoList.Application/obj/Debug/net6.0/TodoList.Application.pdb
src/TodoList.Application/obj/Debug/net6.0/ref/TodoList.Application.dll
src/TodoList.Domain/bin/Debug/net6.0/TodoList.Domain.deps.json
src/TodoList.Domain/bin/Debug/net6.0/TodoList.Domain.dll
src/TodoList.Domain/bin/Debug/net6.0/TodoList.Domain.pdb
src/TodoList.Domain/bin/Debug/net6.0/ref/TodoList.Domain.dll
src/TodoList.Domain/obj/project.assets.json
src/TodoList.Domain/obj/project.nuget.cache
src/TodoList.Domain/obj/TodoList.Domain.csproj.nuget.dgspec.json
src/TodoList.Domain/obj/TodoList.Domain.csproj.nuget.g.props
src/TodoList.Domain/obj/TodoList.Domain.csproj.nuget.g.targets
src/TodoList.Domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
src/TodoList.Domain/obj/Debug/net6.0/TodoList.Domain.AssemblyInfo.cs
src/TodoList.Domain/obj/Debug/net6.0/TodoList.Domain.AssemblyInfoInputs.cache
src/TodoList.Domain/obj/Debug/net6.0/TodoList.Domain.assets.cache
src/TodoList.Domain/obj/Debug/net6.0/TodoList.Domain.csproj.AssemblyReference.cache
src/TodoList.Domain/obj/Debug/net6.0/TodoList.Domain.csproj.CoreCompileInputs.cache
src/TodoList.Domain/obj/Debug/net6.0/TodoList.Domain.csproj.FileListAbsolute.txt
src/TodoList.Domain/obj/Debug/net6.0/TodoList.Domain.dll
src/TodoList.Domain/obj/Debug/net6.0/TodoList.Domain.GeneratedMSBuildEditorConfig.editorconfig
src/TodoList.Domain/obj/Debug/net6.0/TodoList.Domain.GlobalUsings.g.cs
src/TodoList.Domain/obj/Debug/net6.0/TodoList.Domain.pdb
src/TodoList.Domain/obj/Debug/net6.0/ref/TodoList.Domain.dll
src/TodoList.Infrastructure/bin/Debug/net6.0/TodoList.Application.dll
src/TodoList.Infrastructure/bin/Debug/net6.0/TodoList.Application.pdb
src/TodoList.Infrastructure/bin/Debug/net6.0/TodoList.Domain.dll
src/TodoList.Infrastructure/bin/Debug/net6.0/TodoList.Domain.pdb
src/TodoList.Infrastructure/bin/Debug/net6.0/TodoList.Infrastructure.deps.json
src/TodoList.Infrastructure/bin/Debug/net6.0/TodoList.Infrastructure.dll
src/TodoList.Infrastructure/bin/Debug/net6.0/TodoList.Infrastructure.pdb
src/TodoList.Infrastructure/bin/Debug/net6.0/TodoList.Infrastructure.runtimeconfig.json
src/TodoList.Infrastructure/bin/Debug/net6.0/ref/TodoList.Infrastructure.dll
src/TodoList.Infrastructure/Migrations/20221005025724_SetupDb.cs
src/TodoList.Infrastructure/Migrations/20221005025724_SetupDb.Designer.cs
src/TodoList.Infrastructure/Migrations/20221229064258_AddEntities.cs
src/TodoList.Infrastructure/Migrations/20221229064258_AddEntities.Designer.cs
src/TodoList.Infrastructure/Migrations/TodoListDbContextModelSnapshot.cs
src/TodoList.Infrastructure/obj/project.assets.json
src/TodoList.Infrastructure/obj/project.nuget.cache
src/TodoList.Infrastructure/obj/TodoList.Infrastructure.csproj.EntityFrameworkCore.targets
src/TodoList.Infrastructure/obj/TodoList.Infrastructure.csproj.nuget.dgspec.json
src/TodoList.Infrastructure/obj/TodoList.Infrastructure.csproj.nuget.g.props
src/TodoList.Infrastructure/obj/TodoList.Infrastructure.csproj.nuget.g.targets
src/TodoList.Infrastructure/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
src/TodoList.Infrastructure/obj/Debug/net6.0/TodoList.Infrastructure.AssemblyInfo.cs
src/TodoList.Infrastructure/obj/Debug/net6.0/TodoList.Infrastructure.AssemblyInfoInputs.cache
src/TodoList.Infrastructure/obj/Debug/net6.0/TodoList.Infrastructure.assets.cache
src/TodoList.Infrastructure/obj/Debug/net6.0/TodoList.Infrastructure.csproj.AssemblyReference.cache
src/TodoList.Infrastructure/obj/Debug/net6.0/TodoList.Infrastructure.csproj.CopyComplete
src/TodoList.Infrastructure/obj/Debug/net6.0/TodoList.Infrastructure.csproj.CoreCompileInputs.cache
src/TodoList.Infrastructure/obj/Debug/net6.0/TodoList.Infrastructure.csproj.FileListAbsolute.txt
src/TodoList.Infrastructure/obj/Debug/net6.0/TodoList.Infrastructure.dll
src/TodoList.Infrastructure/obj/Debug/net6.0/TodoList.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
src/TodoList.Infrastructure/obj/Debug/net6.0/TodoList.Infrastructure.genruntimeconfig.cache
src/TodoList.Infrastructure/obj/Debug/net6.0/TodoList.Infrastructure.GlobalUsings.g.cs
src/TodoList.Infrastructure/obj/Debug/net6.0/TodoList.Infrastructure.pdb
src/TodoList.Infrastructure/obj/Debug/net6.0/ref/TodoList.Infrastructure.dll
